# Dependencies
node_modules/
**/node_modules/
package-lock.json
**/package-lock.json

# Builds / outputs
**/dist/
**/.next/
**/.expo/

# Environment
.env
.env.local
**/.env
**/.env.local

# Logs
*.log
**/*.log

# OS / editor
.DS_Store
Thumbs.db

# Build artifacts
*.tsbuildinfo
